.App {
  text-align: center;
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  padding: none;
  margin: none;
}

.search-page-wrapper {
  padding: 30px;
}

.loader {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader span {
  vertical-align: middle;
  border-radius: 100%;

  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 3px 2px;
  -webkit-animation: loader 0.8s linear infinite alternate;
  animation: loader 0.8s linear infinite alternate;
}
.loader span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: #445cffff;
}
.loader span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: #445cffff;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: #445cffff;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: #445cffff;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: #445cffff;
}

@keyframes loader {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}
