.toggle-wrapper {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  width: 765px;
  margin: auto;
}

.toggler {
  display: flex;
  background-color: rgba(203, 210, 216, 0.2);
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 1px;
}

.toggle-option-true {
  background-color: #f9399cff;
  color: white;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  width: 90px;
}

.toggle-option-false {
  color: #6b7280ff;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  width: 90px;
}

.serach-params {
  display: flex;
  justify-content: space-around;
  width: 65%;
}
